/* Media Queries */
@media only screen and (min-width: 1920px) {
    body {
        font-size: 22px;
    }

    .main-header .header-wrapper {
        width: 57%;
    }

    #section-1 {
        height: 46em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 12em;
    }
}

@media only screen and (max-width: 1919px) {
    body {
        font-size: 20px;
    }

    .main-header .header-wrapper {
        width: 60%;
    }

    #section-1 {
        height: 43em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 11em;
    }
}

@media only screen and (max-width: 1680px) {
    body {
        font-size: 18px;
    }

    .main-header .header-wrapper {
        width: 65%;
    }

    #section-1 {
        height: 40em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 9em;
    }
}

@media only screen and (max-width: 1366px) {
    body {
        font-size: 16px;
    }

    .main-header .header-wrapper {
        width: 70%;
    }
}

@media only screen and (max-width: 1120px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 1.4em;
    }

    #section-1 {
        height: 35em;
    }

    #section-1 .content-slider nav {
        bottom: -0.2em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 7em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 2em auto;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 1.3em;
    }

    #section-1 .content-slider nav {
        bottom: 0;
    }

    #section-1 .content-slider nav .controls {
        width: 80%;
    }
}

@media only screen and (max-width: 860px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 0.9em;
    }

    #section-1 {
        height: 29em;
    }

    #section-1 .content-slider nav {
        bottom: -1em;
    }

    #section-1 .content-slider nav .controls {
        width: 90%;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
        font-size: 2em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
        font-size: 4.5em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 5em;
    }
}

@media only screen and (max-width: 768px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 0.5em;
    }

    #section-1 {
        height: 27em;
    }

    #section-1 .content-slider nav .controls {
        width: 100%;
    }

    #section-1 .content-slider nav .controls label {
        width: 19%;
        font-size: 0.8em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 1.7em auto;
    }
}

@media only screen and (max-width: 650px) {
    .main-header .header-wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .main-header .header-wrapper {
        width: 97%;
    }

    .main-header .header-wrapper .main-logo {
        display: none;
    }

    .main-header .header-wrapper .main-menu li {
        padding: 0.2em 0.3em;
    }

    .main-header .header-wrapper .main-menu li:last-child,
    .main-header .header-wrapper .main-menu li:nth-child(6) {
        padding: 0.2em 0.7em;
    }

    #section-1 {
        height: 26em;
    }

    #section-1 .content-slider nav {
        bottom: -0.5em;
    }

    #section-1 .content-slider nav .controls label {
        width: 40%;
        font-size: 0.7em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
        font-size: 1.5em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
        font-size: 3em;
    }

    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 1.7em auto;
    }
}